
<html>
    <head>
        <title>
        {% block title %}Title{% endblock %}
        </title>
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="robots" content="NONE,NOARCHIVE">

        {# Add bootstrap style #}
        {% block extrastyle %}
        {% endblock extrastyle %}

    </head>

    <body>
        <div id="container">

        <div id="content" class="colM">
        {% block header %}
        {% endblock header %}
        {% block content %}
        {% endblock content %}
        </div>

        {# footer #}
        {% block footer %}
        {% endblock %}

        {# Add jQuery style #}
        {% block extrahead %}
        {% endblock %}
        </div>
    </body>
</html>
